<%= render 'form' %>

<!-- <form action="<%= update_task_path(@task) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name" value="<%= @task.name%>">
  <input type="text" name="description" value="<%= @task.details%>">
  <label for="checkbox">Done ?</label>
  <input type="checkbox" name="checkbox" value="Done ?">
  <button>Update</button>
</form> -->
